<div class="container">
    <h1 [innerText] = "title"></h1>

    <table class="table table-bordered" *ngIf = "posts && posts.length > 0">
        <thead>
            <tr>
                <th>User ID</th>
                <th>ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let post of posts">
                <td>{{post.userId}}</td>
                <td>{{post.id}}</td>
                <td>{{post.title}}</td>
                <td>{{post.body}}</td>
                <td>
                    <button class="btn btn-primary" (click)="showPostDetails(post.id)">Details</button>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="selectedPost">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{selectedPost.userId}}</td>
                    <td>{{selectedPost.id}}</td>
                    <td>{{selectedPost.title}}</td>
                    <td>{{selectedPost.body}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>