<div class="container">
    <h3>New Event Registration</h3>

    <form #eventForm="ngForm" (ngSubmit)="saveNewEvent(eventForm.value) && eventForm.valid">
        <div class="row margin-top-1">
            <div class="form-group">
                <div class="col-md-2">
                    <label for="eventName">Event Name</label>
                </div>
                <div class="col-md-5" [ngClass]="{'error' : eventForm.controls.eventName?.touched && eventForm.controls.eventName?.invalid}">
                    <input type="text" class="form-control" (ngModel)="eventName" name="eventName" required>
                    <em *ngIf="eventForm.controls.eventName?.touched && eventForm.controls.eventName?.invalid">Required</em>
                </div>
            </div>
        </div>
        <div class="row margin-top-1">
            <div class="form-group">
                <div class="col-md-2">
                    <label for="eventCode">Event Code</label>
                </div>
                <div class="col-md-5" [ngClass]="{'error' : eventForm.controls.eventName?.touched && eventForm.controls.eventName?.invalid}" >
                    <input type="text" class="form-control" (ngModel)="eventCode" name="eventCode" required>
                    <em *ngIf="eventForm.controls.eventCode?.touched && eventForm.controls.eventCode?.invalid" class="font-red">Required</em>
                </div>
            </div>
        </div>
        <div class="row margin-top-1">
            <div class="form-group">
                <div class="col-md-2">
                    <label for="releaseDate">Event Date</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" (ngModel)="releaseDate" name="releaseDate" required>
                    <em *ngIf="eventForm.controls.releaseDate?.touched && eventForm.controls.releaseDate?.invalid" class="font-red">Required</em>
                </div>
            </div>
        </div>
        <div class="row margin-top-1">
            <div class="form-group">
                <div class="col-md-2">
                    <label for="description">Description</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" (ngModel)="description" name="description">
                </div>
            </div>
        </div>
        <div class="row margin-top-1">
            <div class="form-group">
                <div class="col-md-2">
                    <label for="fees">Fees</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" (ngModel)="fees" name="fees" required>
                    <em *ngIf="eventForm.controls.fees?.touched && eventForm.controls.fees?.invalid" class="font-red">Required</em>
                </div>
            </div>
        </div>
        <div class="row margin-top-1">
            <div class="form-group">
                <div class="col-md-2">
                    <label for="popularity">Popularity</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" (ngModel)="popularity" name="popularity">
                </div>
            </div>
        </div>
        <div class="row margin-top-1">
            <div class="form-group">
                <div class="col-md-2">
                    <label for="imageUrl">Image Url</label>
                </div>
                <div class="col-md-5">
                    <input type="text" class="form-control" (ngModel)="imageUrl" name="imageUrl">
                </div>
            </div>
        </div>

        <div class="margin-top-1">
            <button class="btn btn-success" type="submit" disabled="eventForm.invalid">Save</button>

            <button class="btn btn-primary" routerLink="/events">Cancel</button>
        </div>
    </form>
</div>