<div class="container">
    <h3 [innerText] = "title"></h3>

    <table class="table table-bordered inner" *ngIf = "events && events.length > 0">
        <thead>
            <tr>
                <th>Event ID</th>
                <th>Event Name</th>
                <th>Event Code</th>
                <th>Release Date</th>
                <th>Event Decsription</th>
                <th>Event Fee</th>
                <th>Operations</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let event of events">
                <td>{{event.eventId}}</td>
                <td>{{event.eventName | firstLetterCapital}}</td>
                <td>{{event.eventCode}}</td>
                <td>{{event.releaseDate | date:'medium'}}</td>
                <td>{{event.description}}</td>
                <td>
                    <span [ngSwitch] = "event.fees" [ngClass]="getEventNameColor(event.fees)">
                        <span *ngSwitchCase = 300>Cheap</span>
                        <span *ngSwitchCase = 500>Moderate</span>
                        <span *ngSwitchCase = 700>Expensive</span>
                        <span *ngSwitchCase = 900>Expensive</span>
                        <span *ngSwitchDefault>Okay</span>
                    </span>
                </td>
                <td><button class="btn btn-danger" routerLink="/eventdetails/{{event.eventId}}">Show Details</button></td>
            </tr>
        </tbody>
    </table>
</div>