<div class="container">
    <h3 [innerText] = "title"></h3>

    <table class="table table-bordered margin-top-3">
        <tbody>
            <tr>
                <td class="bold">Event Name</td>
                <td>{{event.eventName | firstLetterCapital}}</td>
            </tr>
            <tr>
                <td class="bold">Description</td>
                <td>{{event.description}}</td>
            </tr>
            <tr>
                <td class="bold">Event Date</td>
                <td>{{event.releaseDate | date:'medium'}}</td>
            </tr>
            <tr>
                <td class="bold">Fees</td>
                <td>{{event.fees | currency : 'USD' : true}}</td>
            </tr>
            <tr>
                <td class="bold">Logo</td>
                <td>
                    <div>
                        <img [src]="event.imageUrl" style="height: 100px; width: 100px">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <div>
        <button class="btn btn-primary" routerLink="/events">Back to Events List</button>
    </div>
</div>