<div class="container">
    <h1 [innerText] = "title"></h1>
    <table class="table table-bordered inner" *ngIf = "employees && employees.length > 0">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Employee ID</th>
                <th>Employee Age</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let employee of employees">
                <td>{{employee.employeeName}}</td>
                <td>{{employee.employeeId}}</td>
                <td>{{employee.employeeAge}}</td>
            </tr>
        </tbody>
    </table>
</div>